<div class="row">

	<div class="col-md-3">
		<p class="lead">Channels</p>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="channel in channels" ui-sref-active="list-group-item-info">
				<a ui-sref="channel({channelId: channel.id})">{{channel.name}}</a>
			</li>
		</ul>
	</div>

    <div class="col-md-9">
		<p class="lead">{{channelName}}</p>
		<div class="well">
			<div class="row" ng-show="messages.length == 0">
				<div class="col-md-12">
					<p>No message ...</p>
				</div>
			</div>
			<div ng-repeat="message in messages">
				<div class="row">
					<div class="col-md-12"><a uib-tooltip-template="'sender.html'">{{message.username}} </a>
						<span class="pull-right">{{message.date | date:'yyyy-MM-dd HH:mm:ss'}}</span>
						<p>{{message.text}}</p>
					</div>
					<script type="text/ng-template" id="sender.html">
					  <span>{{message.sender}}</span>
					</script>
				</div>
				<hr>
			</div>
		</div>

		<div class="row" style="margin-top: 40px;">
			<form name="form" role="form" class="form" novalidate>
				<div class="form-group send-wrap  col-md-12">
					<textarea class="form-control send-message" 
							  rows="3" 
							  placeholder="Write a reply..." 
							  id="message"
							  name="message"
							  ng-model="message"
							  ng-maxlength="250"
							  required></textarea>
					<p class="help-block" ng-if="form.message.$error.required">Required</p>
				</div>
				<div class="form-group  col-md-12" align="right">
					<button rype="submit" class="btn btn-primary" ng-click="sendMessage()">Send Message</button>
				</div>
			</form>
		</div>
    </div>

</div>


