<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="PotChain" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="PotChain" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="PotChain" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="PotChain" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title>PotChain - A Decentralized Blockchain App</title>
  
    <link href="./lib.css" rel='stylesheet' type='text/css'>
    <link href="./app.css" rel='stylesheet' type='text/css'>
  
    <script src="./lib.js"></script>
    <script src="./app.js"></script>
</head>
<body>
    <!-- ******* HEADER ********* -->
    <nav class="navbar navbar-inverse navbar-fixed-top"  role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="home">PotChain</a>
            </div>
			
			<div class="collapse navbar-collapse" id="navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li ui-sref-active="active"><a ui-sref="home">Home</a></li>
					<li ui-sref-active="active"><a ui-sref="pot-list">Pots</a></li>
				</ul>
				<div class="pull-right" style="margin-top: 10px;">
					<button class="btn btn-warning" type="button">{{network.name}}</button>
				</div>
				<div class="pull-right" style="margin-top: 10px;margin-right:10px;">
					<button class="btn btn-default" type="button" clipboard text="account.address">
						<span class="glyphicon glyphicon-user" style="cursor:pointer"  data-toggle="tooltip" uib-tooltip="{{account.address}}" tooltip-class="customClass" tooltip-placement="bottom"></span>
					</button>
					
				</div>
				<div class="col-sm-3 col-md-3 pull-right" style="margin-top: 10px;">
					<div class = "input-group">
						   
						<div class = "input-group-btn">
							<button type = "button" class = "btn dropdown-toggle" data-toggle = "dropdown">
								 {{account.balanceDisplayed.currency.name}} <span class = "caret"></span>
							</button>
							  
							<ul class = "dropdown-menu">
								<li ng-repeat="cur in currencies" ng-if="cur.id != account.balanceDisplayed.currency.id">
									<a ng-click="convertBalance(cur)">{{cur.name}}</a>
								</li>
							</ul>
						</div>
						   
						<input 	type="text" 
								class="form-control"
								value="{{ account.balanceDisplayed.amount | number : 5 }}"
								ng-readonly="true" />
								
						
						<span class="input-group-addon">
								<span class="glyphicon glyphicon-refresh" style="cursor:pointer" ng-click="reloadBalance()"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
    </nav>

    
    
    <!-- ******* CONTENT ********* -->
    <div class="container-fluid">
        <div ui-view></div>
    </div>

    
    
    <!-- ******* FOOTER ********* -->
    <div class="container-fluid">
        <hr>
        
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; PotChain 2016 [v.{{VERSION}}]</p>
                </div>
            </div>
        </footer>
    </div>

    
</body>
</html>
