<div class="container">
    <div class="row">
		<div class="form-group col-md-4">
			<label class="control-label">Your address</label> 
			<input	type="text" 
					class="form-control" 
					id="account"
					name="account"
					ng-model="account" 
					ng-readonly="true" />
		</div>
		<div class="form-group col-md-4">
			<label class="control-label">Your balance</label> 
			<input	type="text" 
					class="form-control" 
					id="balance"
					name="balance"
					ng-model="balance" 
					ng-readonly="true" />
		</div>
	</div>

    <div class="row">

        <div class="message-wrap col-lg-8">
            <div class="msg-wrap">

                <div class="media msg " ng-repeat="message in messages">
                    <div class="media-body">
                        <small class="pull-right time"><i class="fa fa-clock-o"></i> {{message.date | date:'yyyy-MM-dd HH:mm:ss'}}</small>
                        <h5 class="media-heading">{{message.sender}}</h5>
                        <small class="col-lg-10">{{message.text}}</small>
                    </div>
                </div>
				
            </div>

            <div class="form-group send-wrap ">
                <textarea class="form-control send-message" rows="3" placeholder="Write a reply..." ng-model="message"></textarea>
            </div>
            <div class="form-group col-md-12" align="right">
				<button rype="submit" class="btn btn-primary" ng-click="sendMessage()">Send Message</button>
            </div>
        </div>
    </div>
</div>